body > section:not(:first-of-type) {
	opacity: 0;
	animation: visible 1s ease-in 2s forwards;
	-webkit-animation: visible 1s ease-in 2s forwards;
}

svg #TomoriNao path {
	fill: none;
	stroke-linecap: round;
	animation: dash 1.6s ease-in 0.4s forwards, color 1s ease-in 2.2s forwards;
	-webkit-animation: dash 1.6s ease-in 0.4s forwards, color 1s ease-in 2.2s forwards;
}
svg #TomoriNao path[name=T] {
	stroke-dasharray: 290;
	stroke-dashoffset: 290;
}
svg #TomoriNao path[name=o] {
	stroke-dasharray: 216;
	stroke-dashoffset: 216;
}
svg #TomoriNao path[name=m] {
	stroke-dasharray: 478;
	stroke-dashoffset: 478;
}
svg #TomoriNao path[name=r] {
	stroke-dasharray: 186;
	stroke-dashoffset: 186;
}
svg #TomoriNao path[name=i] {
	stroke-dasharray: 136;
	stroke-dashoffset: 136;
}
svg #TomoriNao path[name=N] {
	stroke-dasharray: 476;
	stroke-dashoffset: 476;
}
svg #TomoriNao path[name=a] {
	stroke-dasharray: 442;
	stroke-dashoffset: 442;
}
svg #Charlotte {
	opacity: 0;
	animation: visible 1s ease-in 2s forwards;
	-webkit-animation: visible 1s ease-in 2s forwards;
}

@keyframes visible {
	100% { opacity: 1; }
}
@keyframes dash {
	100% { stroke-dashoffset: 0; }
}
@keyframes color {
	0% { fill: rgba(0, 0, 0, 0); }
	100% { fill: rgba(0, 0, 0, 1); }
}
@-webkit-keyframes visible {
	100% { opacity: 1; }
}
@-webkit-keyframes dash {
	100% { stroke-dashoffset: 0; }
}
@-webkit-keyframes color {
	0% { fill: rgba(0, 0, 0, 0); }
	100% { fill: rgba(0, 0, 0, 1); }
}

[name=show_more]:not(:checked) ~ div * {
	transform: translateX(300px);
	opacity: 0;
}
[name=show_more]:checked ~ div * {
	transform: translateX(0px);
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
[name=show_more]:checked + label + * + * * {
	transition-delay: 0.1s;
}
[name=show_more]:checked + label + * + * + * * {
	transition-delay: 0.2s;
}
[name=show_more]:checked + label + * + * + * + * * {
	transition-delay: 0.3s;
}
[name=show_more]:checked + label + * + * + * + * + * * {
	transition-delay: 0.4s;
}
[name=show_more]:checked + label + * + * + * + * + * + * * {
	transition-delay: 0.5s;
}
[name=show_more]:checked + label + * + * + * + * + * + * + * * {
	transition-delay: 0.6s;
}
[name=show_more]:checked + label + * + * + * + * + * + * + * + * * {
	transition-delay: 0.7s;
}
