---
---
body > section:not(:first-of-type) {
	opacity: 0;
	animation: visible 1s ease-in 2s forwards;
	-webkit-animation: visible 1s ease-in 2s forwards;
}

@mixin stroke-dash($value) {
	stroke-dasharray: $value;
	stroke-dashoffset: $value;
}

svg #TomoriNao path {
	fill: none;
	stroke-linecap: round;
	animation: dash 1.6s ease-in 0.4s forwards, color 1s ease-in 2.2s forwards;
	-webkit-animation: dash 1.6s ease-in 0.4s forwards, color 1s ease-in 2.2s forwards;
	&[name=T] {
		@include stroke-dash(290);
	}
	&[name=o] {
		@include stroke-dash(216);
	}
	&[name=m] {
		@include stroke-dash(478);
	}
	&[name=r] {
		@include stroke-dash(186);
	}
	&[name=i] {
		@include stroke-dash(136);
	}
	&[name=N] {
		@include stroke-dash(476);
	}
	&[name=a] {
		@include stroke-dash(442);
	}
}
svg #Charlotte {
	opacity: 0;
	animation: visible 1s ease-in 2s forwards;
	-webkit-animation: visible 1s ease-in 2s forwards;
}
@media all and (-ms-high-contrast:none) {
	svg #TomoriNao path {
		fill: inherit !important;
		opacity: 0;
		animation: visible 1s ease-in 2s forwards;
		-webkit-animation: visible 1s ease-in 2s forwards;
	}
}

@keyframes visible {
	100% { opacity: 1; }
}
@keyframes dash {
	100% { stroke-dashoffset: 0; }
}
@keyframes color {
	0% { fill: rgba(0, 0, 0, 0); }
	100% { fill: rgba(0, 0, 0, 1); }
}
@-webkit-keyframes visible {
	100% { opacity: 1; }
}
@-webkit-keyframes dash {
	100% { stroke-dashoffset: 0; }
}
@-webkit-keyframes color {
	0% { fill: rgba(0, 0, 0, 0); }
	100% { fill: rgba(0, 0, 0, 1); }
}

[name=show_more]:not(:checked) ~ div * {
	transform: translateX(300px);
	opacity: 0;
}
[name=show_more]:checked ~ div * {
	transform: translateX(0px);
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
@for $i from 1 through {{ site.data.news | size | minus: 4 }} {
	[name=show_more]:checked + label ~ *:nth-of-type(#{$i + 4}) + * * {
		transition-delay: #{$i / 10}s;
	}
}
