body {
	font-family: 'Orbitron', sans-serif;
}
section:nth-child(even) {
	background-color: #14A6C8;
	color: #FFF;
}
section:nth-child(even) * {
	color: #FFF;
}
section {
	padding-top: 40px;
	padding-bottom: 40px;
}
footer {
	background-color: #000;
	text-align: center;
	color: #FFF;
}
footer * {
	display: inline;
	color: #FFF;
}
footer *:not(:first-child)::before {
	content: "-";
}
