body {
	font-family: 'Orbitron', sans-serif;
}
time {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}
nav {
	height: 42px;
}
nav * {
	height: 24px;
	display: inline-block;
	vertical-align: text-top;
	text-decoration: none;
	color: #000;
	font-size: 24px;
}
header {
	width: auto;
	height: auto;
	max-width: 60%;
	max-height: 40%;
	display: flex;
	text-align: center;
	float: none;
	margin: auto;
}
section:nth-child(even) {
	background-color: #14A6C8;
	color: #FFF;
}
section:nth-child(even) * {
	color: #FFF;
}
section {
	padding-top: 40px;
	padding-bottom: 40px;
}
footer {
	background-color: #000;
	text-align: center;
	color: #FFF;
}
footer * {
	display: inline;
	color: #FFF;
}
footer > *:not(:first-child)::before {
	content: "- ";
}
[name=show_more] {
	visibility: hidden;
}
[for=show_more] {
	cursor: pointer;
}
[name=show_more]:checked, [name=show_more]:checked ~ label {
	display: none;
}
[name=show_more]:not(:checked) ~ div {
	visibility: hidden;
	height: 0;
	width: 0;
}
[name=show_more]:checked ~ div {
	visibility: visible;
	height: auto;
	width: auto;
	overflow: hidden;
}
.screen_name {
	display: none;
	padding-left: 20px;
}
