body {
	font-family: 'Orbitron', sans-serif;
}
time {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}
nav {
	height: 42px;
}
nav * {
	height: 24px;
	display: inline-block;
	vertical-align: text-top;
	text-decoration: none;
	color: #000;
	font-size: 24px;
}
section:nth-child(even) {
	background-color: #14A6C8;
	color: #FFF;
}
section:nth-child(even) * {
	color: #FFF;
}
section {
	padding-top: 40px;
	padding-bottom: 40px;
}
footer {
	background-color: #000;
	text-align: center;
	color: #FFF;
}
footer * {
	display: inline;
	color: #FFF;
}
footer > *:not(:first-child)::before {
	content: "- ";
}

.screen_name {
	display: none;
	padding-left: 20px;
}
